extends layout

block content
  h1 Hello #{userData.username}
  a(href="/users/create-user") Create a new user

  h2 User List 
  ul 
    each user in users 
      li 
        a(href="/users/" + user._id) #{user.name}

  - var n = 1;
  ul(class="pages")
    while n <= totalPages
      if n == page
        li(class="pages-item current-page")
          a(href=`/?page=${n}`) page #{n}
      else
        li(class="pages-item")
          a(href=`/?page=${n}`) page #{n}
      - n++


  
  script(src="/javascripts/index.js") 